input{
    height: 20px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 60px;
    width: 90%;
}
select {
    height: 20px !important;
    padding: 10px 20px !important;
    border: 2px solid #ccc !important;
    border-radius: 60px !important;
    width: 90% !important;
}
.primary-content-btn{
    height: 40px;
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 1.5em;
    padding: 0.4em 1em;
    color:white;
}
.relinking{
    font-size: 1.2em;
    margin-top: 10px;
}